---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Benefits from '../components/Benefits.astro';
import Pricing from '../components/Pricing.astro';
import SignupForm from '../components/SignupForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Kairos - Comunicacion Escolar que Conecta Familias">
  <Header />
  <main>
    <Hero />
    <Features />
    <Benefits />
    <Pricing />
    <SignupForm />
  </main>
  <Footer />
</Layout>
